.cards {
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 0.19rem;
  cursor: pointer;
  max-width: 200px;
  height: 300px;
  z-index: 0;
  border: 1px solid rgb(99, 99, 99);
  margin-top: 10px;

  &:hover {
    transform: scale(1.2);
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  &Img {
    height: 300px;
  }

  &Overlay {
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    bottom: 0px;
    height: 290px;
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: flex-end;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
    opacity: 0;
    transition: opacity 0.2s;
  }

  &Overlay:hover {
    opacity: 1;
  }

  &Title {
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 16px;
  }

  &Runtime {
    font-size: 16px;
    margin-bottom: 16px;
  }

  &Rating {
    float: right;
  }

  &Description {
    font-style: italic;
    font-size: 16px;
    margin-bottom: 16px;
  }
}
